

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Teamwork templates &mdash; Omnia  documentation</title>
  

  
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/custom.css?v=4" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../../../" src="../../../../../_static/documentation_options.js"></script>
        <script data-url_root="../../../../../" id="documentation_options" src="../../../../../_static/documentation_options.js"></script>
        <script src="../../../../../_static/jquery.js"></script>
        <script src="../../../../../_static/underscore.js"></script>
        <script src="../../../../../_static/doctools.js"></script>
        <script src="../../../../../_static/helpfulness.js?v=4"></script>
        <script src="../../../../../_static/disqus.js"></script>
    
    <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Workspace" href="../../../workplace/index.html" />
    <link rel="prev" title="Layout (Teamwork)" href="../teamwork-layout/index.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../../../index.html" class="icon icon-home"> Omnia
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../../../index.html">Admin Settings</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../../../tenant-settings/index.html">Tenant Settings</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../../index.html">Business Profile Settings</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../../../announcements/index.html">Announcements</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../communities/communities-65/index.html">Communities</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../features/index.html">Features - Business Profile</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../forms/index.html">Forms</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../workplace/notification-panel/index.html">Notification Panel</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../omnia-feed/index.html">Omnia Feed - Business Profile Settings</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../permissions/index.html">Permissions for a Business Profile</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../publishing-apps/publishing-65/index.html">Publishing</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../search/index.html">Search</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../settings/index.html">Settings</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../shared-links/index.html">Shared Links</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../index.html">Teamwork</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="../apps/index.html">Apps for Teamwork</a></li>
<li class="toctree-l4"><a class="reference internal" href="../naming-policies/index.html">Naming Policies (Teamwork)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../teamwork-layout/index.html">Layout (Teamwork)</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Teamwork templates</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../../workplace/index.html">Workspace</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../../../app-settings/index.html">App settings</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../blocks/index.html">Blocks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../general-assets/index.html">General assets and options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../pages/index.html">Pages and page navigation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-documents/index.html">Working with Documents</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-processes/index.html">Working with Processes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-events/index.html">Working with Events</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-communities/index.html">Using Communities</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-newsletters/index.html">Using Newsletters</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-omnia-feed/index.html">Using Omnia Feed</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../user-options/index.html">User options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../setup/index.html">Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../best-practice/index.html">Best Practice</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../accessability/index.html">Accessibility</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../cookies-consent-information/index.html">Cookies Consent information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../release-notes/index.html">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../roadmap/index.html">In Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../contribute-to-doc/index.html">Contribute to this Documentation</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../index.html">Omnia</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../../../../index.html">Admin Settings</a> &raquo;</li>
        
          <li><a href="../../../index.html">Business Profile Settings</a> &raquo;</li>
        
          <li><a href="../index.html">Teamwork</a> &raquo;</li>
        
      <li>Teamwork templates</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../../../_sources/admin-settings/business-group-settings/team-collaboration/teamwork-65/templates/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="teamwork-templates">
<h1>Teamwork templates<a class="headerlink" href="#teamwork-templates" title="Permalink to this headline">¶</a></h1>
<p>Here you can work with templates for Teamwork. The first list displays all templates that has been created so far, for example:</p>
<img alt="../../../../../_images/teamwork-65-templates-new3.png" src="../../../../../_images/teamwork-65-templates-new3.png" />
<p>To edit a template, click the name - to delete, click the dust bin. When you edit a template, all options described below are available.</p>
<div class="section" id="create-a-new-teamwork-template">
<h2>Create a new Teamwork template<a class="headerlink" href="#create-a-new-teamwork-template" title="Permalink to this headline">¶</a></h2>
<p>To create a new template, do the following:</p>
<ol class="arabic simple">
<li><p>Click the plus.</p></li>
</ol>
<img alt="../../../../../_images/teamwork-65-template-click-plus-new2.png" src="../../../../../_images/teamwork-65-template-click-plus-new2.png" />
<ol class="arabic simple" start="2">
<li><p>Use the following settings:</p></li>
</ol>
<img alt="../../../../../_images/teamwork-65-template-settings-new2.png" src="../../../../../_images/teamwork-65-template-settings-new2.png" />
</div>
<div class="section" id="general">
<h2>General<a class="headerlink" href="#general" title="Permalink to this headline">¶</a></h2>
<p>The following settings are available here:</p>
<img alt="../../../../../_images/teamwork-65-edit-general-new2.png" src="../../../../../_images/teamwork-65-edit-general-new2.png" />
<ul class="simple">
<li><p><strong>Type</strong>: Select type of Teamwork to create from this template. Note that only Sharepoint Team Site and Sharepoint Communication Site is available in Omnia on-prem.</p></li>
<li><p><strong>Title</strong>: Add a Title for the Template. You can add titles in a number of the languages available in the tenant. Default language is mandatory. Click the flag to change language.</p></li>
<li><p><strong>Description</strong>: Add a Description if needed, in any or all tenant languages. Click the flag to change language.</p></li>
<li><p><strong>Icon Type</strong>: An icon is always shown for a template. If you would like another icon for this template, select the set of icons here: Font Awesome, Microsoft, Flags or Custom. When selecting Custom you can choose any image as the icon.</p></li>
<li><p><strong>Icon</strong>: When you have select Icon Type, use this list to select the icon. If you select Custom, a Url field is shown, where you enter the Url for the image.</p></li>
<li><p><strong>Available to</strong>: Here you can select “All users”, “Specific users” or “Admins only”. Deafault setting is Admins ony. When you select “Specific users”, you can set which users the template will be available for, using the normal targeting functionality in Omnia. For more info, see below.</p></li>
<li><p><strong>Site Creation Mode</strong>: Here you select if approval is required when users create sites from this template.</p></li>
</ul>
<div class="section" id="teamwork-templates-for-specific-users">
<h3>Teamwork templates for specific users<a class="headerlink" href="#teamwork-templates-for-specific-users" title="Permalink to this headline">¶</a></h3>
<p>When you select “Specific users” the following option is shown:</p>
<img alt="../../../../../_images/specific-users.png" src="../../../../../_images/specific-users.png" />
<p>Click “Add Targeting Filter” and the following is shown:</p>
<img alt="../../../../../_images/specific-users-filter.png" src="../../../../../_images/specific-users-filter.png" />
<p>You use targeting here the same way as in other parts of Omnia. For more information, see this page: <a class="reference internal" href="../../../../../general-assets/targeting-in-omnia/index.html"><span class="doc">Using Targeting</span></a></p>
<p>Also note that all properties that should be available for targeting must be setup in the Targeting Properties list, see: <a class="reference internal" href="../../../../tenant-settings/properties/targeting-properties/index.html"><span class="doc">Targeting Properties</span></a></p>
</div>
</div>
<div class="section" id="properties">
<h2>Properties<a class="headerlink" href="#properties" title="Permalink to this headline">¶</a></h2>
<p>This is available for Properties:</p>
<img alt="../../../../../_images/teamwork-65-edit-properties-new2.png" src="../../../../../_images/teamwork-65-edit-properties-new2.png" />
<ul class="simple">
<li><p><strong>Property Set</strong>: You can select a property set here, to be used for the template, meaning a number of properties that the colleague creating the site will or will have to fill in when the template is used. If a property is mandatory or not is decided in the settings for the property.</p></li>
</ul>
<p>The property sets are set up using the Tenant settings. See this page for more information: <a class="reference internal" href="../../../../tenant-settings/properties/property-sets/index.html"><span class="doc">Property sets</span></a></p>
<p>You can set default values for most properties in a set, valid for this template. An example:</p>
<img alt="../../../../../_images/teamwork-65-edit-properties-default.png" src="../../../../../_images/teamwork-65-edit-properties-default.png" />
<p>For some properties, it may also be possible to enter help text.</p>
</div>
<div class="section" id="features">
<h2>Features<a class="headerlink" href="#features" title="Permalink to this headline">¶</a></h2>
<p>Select the features that should be available for the teamwork (all are not shown in the image):</p>
<img alt="../../../../../_images/teamwork-65-edit-features-new2.png" src="../../../../../_images/teamwork-65-edit-features-new2.png" />
</div>
<div class="section" id="setup">
<h2>Setup<a class="headerlink" href="#setup" title="Permalink to this headline">¶</a></h2>
<p>The settings here will differ depending on teamwork type.</p>
<div class="section" id="microsoft-365-group">
<h3>Microsoft 365 Group<a class="headerlink" href="#microsoft-365-group" title="Permalink to this headline">¶</a></h3>
<p>The following options are available for a Microsoft 365 Team Group:</p>
<img alt="../../../../../_images/teamwork-settings-setup-365-new.png" src="../../../../../_images/teamwork-settings-setup-365-new.png" />
<p>Available only for Microsoft 365 Group are:</p>
<ul class="simple">
<li><p><strong>Default Resource Url</strong>: Choose to link to a Sharepoint site or to Microsoft Teams.</p></li>
<li><p><strong>Privacy</strong>: Decide if the Group should be Private or Public.</p></li>
</ul>
<p>For descriptions of the rest of the options, see below.</p>
</div>
<div class="section" id="sharepoint-team-site-and-sharepoint-communication-site">
<h3>Sharepoint Team Site and Sharepoint Communication site<a class="headerlink" href="#sharepoint-team-site-and-sharepoint-communication-site" title="Permalink to this headline">¶</a></h3>
<p>For Sharepoint Team Site and Sharepoint Communication Site, these settings are available for Setup:</p>
<img alt="../../../../../_images/teamwork-settings-setup-new.png" src="../../../../../_images/teamwork-settings-setup-new.png" />
<ul class="simple">
<li><p><strong>Site Design</strong>: Here templates can be available, templates made according to Microsoft’s standard for Site Design. Such templates can be used in Omnia.  Not mandatory. If no such templates are available, the list is empty. For more information about Site Design, see this Microsoft page: <a class="reference external" href="https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-overview">https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/site-design-overview</a></p></li>
<li><p><strong>Languages</strong>: Select language to be used for system texts in the site.</p></li>
<li><p><strong>User can select language</strong>: Select this option to enable language selection by the user creating the site.</p></li>
<li><p><strong>Time Zones</strong>: Select the correct time zone here.</p></li>
<li><p><strong>Primary Site Collection Administrator</strong>: If empty, the user creating or requesting the site will automatically become the default administrator (Owner) of the site. If a specific group or user should be administrator for all sites created from this template, add that group or user. Only on group or user can be added in this field.</p></li>
<li><p><strong>Default Site Collection Administrators</strong>: You can add (several) additional administrators here, if needed.</p></li>
<li><p><strong>Default Visitors</strong>: You can use this to set a default visitor group (read permissions) to all sites created from this template.</p></li>
</ul>
</div>
<div class="section" id="microsoft-team">
<h3>Microsoft Team<a class="headerlink" href="#microsoft-team" title="Permalink to this headline">¶</a></h3>
<p>For Microsoft Team, the following settings are available for Setup:</p>
<img alt="../../../../../_images/teamwork-settings-setup-team-new.png" src="../../../../../_images/teamwork-settings-setup-team-new.png" />
<p><strong>Note!</strong> Microsoft Team is not available in Omnia on-prem.</p>
<ul class="simple">
<li><p><strong>Default Resource Url</strong>: Choose to link to a Sharepoint site or to Microsoft Teams.</p></li>
<li><p><strong>Setup template</strong>: Here you can select to create a Custom template, to use a Microsoft Teams template, or to give the user the option to Clone an excisting team. See below for more information on a custom template. To use a Microsoft Teams template you must enter the id of the template (can be found in Teams admin center).</p></li>
<li><p><strong>Clone an existing team</strong>: If the purpose of this template is to make it possible to clone a team, select this option. Note that a colleague must be member of a team to be able to clone it.</p></li>
</ul>
</div>
<div class="section" id="create-a-custom-microsoft-team-template">
<h3>Create a custom Microsoft Team template<a class="headerlink" href="#create-a-custom-microsoft-team-template" title="Permalink to this headline">¶</a></h3>
<p>When you have selected to create a custom template the following options are available:</p>
<img alt="../../../../../_images/teamwork-settings-setup-team-all.png" src="../../../../../_images/teamwork-settings-setup-team-all.png" />
<p>Under <strong>Settings</strong> you can do the following:</p>
<img alt="../../../../../_images/teamwork-settings-setup-team-settings-new.png" src="../../../../../_images/teamwork-settings-setup-team-settings-new.png" />
<ul class="simple">
<li><p><strong>Visibility</strong>: Here you select how joining the team will work; if anyone can join the team or if only administrators can add memebers to the team.</p></li>
</ul>
<p>For the rest of the options: point at the i icon and read the tooltip, to learn what the option are for.</p>
<p>For <strong>Apps</strong> the following is available:</p>
<img alt="../../../../../_images/teamwork-settings-setup-team-apps.png" src="../../../../../_images/teamwork-settings-setup-team-apps.png" />
<p>Add the apps that should be added when a teamwork is created from this template.</p>
<p>For <strong>Channels</strong> the following settings are available:</p>
<img alt="../../../../../_images/teamwork-settings-setup-channels.png" src="../../../../../_images/teamwork-settings-setup-channels.png" />
<p>Here a list of channels that are already added to the template is shown. Click the pen to edit a channel.</p>
<p>To add a new channel, click the plus and use these settings:</p>
<img alt="../../../../../_images/teamwork-settings-setup-channels-settings.png" src="../../../../../_images/teamwork-settings-setup-channels-settings.png" />
<ul class="simple">
<li><p><strong>Channel name</strong>: TYpe the name here.</p></li>
<li><p><strong>Description</strong>: Add a description of the channel if necessary.</p></li>
<li><p><strong>Shown by default</strong>: if the channel should be marked as “Favourite” for all members of the team, select this option.</p></li>
</ul>
<p>You can also set which tabs should be added for all teams that are created from this template. When adding a tab, the following settings are available:</p>
<img alt="../../../../../_images/teamwork-settings-setup-channels-settings-tab.png" src="../../../../../_images/teamwork-settings-setup-channels-settings-tab.png" />
<ul class="simple">
<li><p><strong>Tab name</strong>: Type the name for the tab here.</p></li>
<li><p><strong>App Types</strong>: Select type of app for the tab; Built-in meaning Microsoft Apps, or Organization for other Apps, which can, for example, be Omnia Apps.</p></li>
</ul>
</div>
<div class="section" id="yammer-community">
<h3>Yammer Community<a class="headerlink" href="#yammer-community" title="Permalink to this headline">¶</a></h3>
<p>The following setting is available for a Yammer Community template for Setup:</p>
<img alt="../../../../../_images/teamwork-yammer-community.png" src="../../../../../_images/teamwork-yammer-community.png" />
<p><strong>Note!</strong> Yammer Community is not available in Omnia on-prem.</p>
<ul class="simple">
<li><p><strong>Deafult Resource Url</strong>: Select the defailt Url for the Yammer Community start page, Sharepoint or Yammer group.</p></li>
<li><p><strong>Client id</strong>: Type the Client id for the Yammer Network here.</p></li>
</ul>
</div>
<div class="section" id="facebook-workplace-group">
<h3>Facebook Workplace Group<a class="headerlink" href="#facebook-workplace-group" title="Permalink to this headline">¶</a></h3>
<p>This setting is available for a Facebook Workplace Group template for Setup:</p>
<img alt="../../../../../_images/teamwork-facebook-workplace-group.png" src="../../../../../_images/teamwork-facebook-workplace-group.png" />
<p><strong>Note!</strong> Facebook Workplace Group is not available in Omnia on-prem.</p>
<ul class="simple">
<li><p><strong>Workplace Domain</strong>: Add the Facebook Workplace name here.</p></li>
</ul>
</div>
</div>
<div class="section" id="custom-steps">
<h2>Custom steps<a class="headerlink" href="#custom-steps" title="Permalink to this headline">¶</a></h2>
<p>If any custom steps has been developed for the type of community you have selected, you can add them using this option.</p>
<img alt="../../../../../_images/teamwork-edit-custom-steps-new.png" src="../../../../../_images/teamwork-edit-custom-steps-new.png" />
</div>
<div class="section" id="policies">
<h2>Policies<a class="headerlink" href="#policies" title="Permalink to this headline">¶</a></h2>
<p>Use this for further policies settings, that will be applied to teamworks created from specific templates. A prerequisite is that Sensitivity Labels are created in Microsoft 365.</p>
<p>The following can be set here:</p>
<img alt="../../../../../_images/teamwork-templates-policies.png" src="../../../../../_images/teamwork-templates-policies.png" />
<ul class="simple">
<li><p><strong>Naming Policy</strong>: Select the naming policy to set settings for. The policies listed here are those setup for teamworks, see: <a class="reference internal" href="../naming-policies/index.html"><span class="doc">Naming policies</span></a></p></li>
<li><p><strong>Minimum number of characters in description</strong>: Here you can set a number of characters for the teamwork descripton, to force users to add a description of a certain length.</p></li>
<li><p><strong>Minimim number of administrators</strong>: There must always be at least one administrator for a teamwork, but you can decide that more administrators should be required, up to 5.</p></li>
<li><p><strong>Default Administrators</strong>: Use this to add one or more administrators for teamworks created from this template. These administrators will always be added, can not be removed in the Create Teamwork wizard. Must be persons, can not be groups.</p></li>
<li><p><strong>Sensitivity Label</strong>: Here you decide how Microsoft 365 Sensitivity Labels will be handled for this Teamwork Template; No senitivity label, Fixed or Let user decide. If you select “Fixed”, a list of the existing sensitivity labels are shown and you select one from the list. It can’t be changed when a teamwork is created. If you select “Let user decide”, the user creating a teamwork from this template can select which sensitivity label to use for the teamwork. It’s still mandatory to select one when creating the teamwork.</p></li>
</ul>
</div>
</div>


           </div>
           
          </div>
          <footer>
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        <a href="../../../workplace/index.html" class="btn btn-neutral float-right" title="Workspace" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
        <a href="../teamwork-layout/index.html" class="btn btn-neutral float-left" title="Layout (Teamwork)" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2022, Precio Fishbone.
      <span class="lastupdated">
        Last updated on Nov 11, 2022.
      </span>

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>