################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/OmniaDocsG2/v16/.suo
/.vs/ProjectSettings.json
/release-notes/5.0.0/index.rst
.vs/OmniaDocsG2/v17/.suo
_build
