

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Templates for Publishing Apps &mdash; Omnia  documentation</title>
  

  
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/custom.css?v=4" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../../../" src="../../../../../_static/documentation_options.js"></script>
        <script data-url_root="../../../../../" id="documentation_options" src="../../../../../_static/documentation_options.js"></script>
        <script src="../../../../../_static/jquery.js"></script>
        <script src="../../../../../_static/underscore.js"></script>
        <script src="../../../../../_static/doctools.js"></script>
        <script src="../../../../../_static/helpfulness.js?v=4"></script>
        <script src="../../../../../_static/disqus.js"></script>
    
    <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Search" href="../../../search/index.html" />
    <link rel="prev" title="Publishing Layouts" href="../layout/index.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../../../index.html" class="icon icon-home"> Omnia
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../../../index.html">Admin Settings</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../../../tenant-settings/index.html">Tenant Settings</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../../index.html">Business Profile Settings</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../../../announcements/index.html">Announcements</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../communities/communities-65/index.html">Communities</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../features/index.html">Features - Business Profile</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../forms/index.html">Forms</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../workplace/notification-panel/index.html">Notification Panel</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../omnia-feed/index.html">Omnia Feed - Business Profile Settings</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../permissions/index.html">Permissions for a Business Profile</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../index.html">Publishing</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="../apps/index.html">Publishing Apps</a></li>
<li class="toctree-l4"><a class="reference internal" href="../layout/index.html">Publishing Layouts</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Templates for Publishing Apps</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../../search/index.html">Search</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../settings/index.html">Settings</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../shared-links/index.html">Shared Links</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../team-collaboration/teamwork-65/index.html">Teamwork</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../workplace/index.html">Workspace</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../../../app-settings/index.html">App settings</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../blocks/index.html">Blocks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../general-assets/index.html">General assets and options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../pages/index.html">Pages and page navigation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-documents/index.html">Working with Documents</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-processes/index.html">Working with Processes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-events/index.html">Working with Events</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-communities/index.html">Using Communities</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-newsletters/index.html">Using Newsletters</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-omnia-feed/index.html">Using Omnia Feed</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../user-options/index.html">User options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../setup/index.html">Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../best-practice/index.html">Best Practice</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../accessability/index.html">Accessibility</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../cookies-consent-information/index.html">Cookies Consent information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../release-notes/index.html">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../roadmap/index.html">In Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../contribute-to-doc/index.html">Contribute to this Documentation</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../index.html">Omnia</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../../../../index.html">Admin Settings</a> &raquo;</li>
        
          <li><a href="../../../index.html">Business Profile Settings</a> &raquo;</li>
        
          <li><a href="../index.html">Publishing</a> &raquo;</li>
        
      <li>Templates for Publishing Apps</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../../../_sources/admin-settings/business-group-settings/publishing-apps/publishing-65/templates/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="templates-for-publishing-apps">
<h1>Templates for Publishing Apps<a class="headerlink" href="#templates-for-publishing-apps" title="Permalink to this headline">¶</a></h1>
<p>Here you can work with templates for Publishing Apps.</p>
<img alt="../../../../../_images/publishing-templates-new.png" src="../../../../../_images/publishing-templates-new.png" />
<p>To edit a template, click the name - to delete, click the dust bin. When you edit a template, all options that are described below are available.</p>
<div class="section" id="creating-a-new-publishing-app-template">
<h2>Creating a new Publishing App template<a class="headerlink" href="#creating-a-new-publishing-app-template" title="Permalink to this headline">¶</a></h2>
<p>To create a new template, do the following:</p>
<ol class="arabic simple">
<li><p>Click the plus.</p></li>
</ol>
<img alt="../../../../../_images/publishing-template-click-plus.png" src="../../../../../_images/publishing-template-click-plus.png" />
<p>Use the following settings:</p>
<img alt="../../../../../_images/publishing-template-settings.png" src="../../../../../_images/publishing-template-settings.png" />
<ul class="simple">
<li><p><strong>Title</strong>: Add a Title for the Template. You can add titles in a number of the languages available in the tenant. Default language is mandatory.</p></li>
<li><p><strong>Description</strong>: Add a Description if needed.</p></li>
<li><p><strong>Icon Type</strong>: An icon is always shown for a template. If you would like another icon for this template, select the set of icons here: Font Awesome, Microsoft, Flags or Custom. When selecting Custom you can choose any image as the icon.</p></li>
<li><p><strong>Icon</strong>: When you have select Icon Type, use this list to select the icon. If you select Custom, a Url field is shown, where you enter the Url for the image.</p></li>
<li><p><strong>Available to All Users</strong>: Select this option if the template should be available for other’s than administrators, for example in the user Wizard for creating new teamworks. If this option is NOT selected, the template will be available only for administrators to use in Omnia Admin.</p></li>
<li><p><strong>Site Creation Mode</strong>: Here you select if approval is required when users create sites from this template.</p></li>
</ul>
</div>
<div class="section" id="settings-for-the-template">
<h2>Settings for the template<a class="headerlink" href="#settings-for-the-template" title="Permalink to this headline">¶</a></h2>
<p>There are a lot of settings you can do for the template when it’s created.</p>
<ol class="arabic simple">
<li><p>Click the template to edit.</p></li>
</ol>
<p>The following is shown:</p>
<img alt="../../../../../_images/publishing-edit-all.png" src="../../../../../_images/publishing-edit-all.png" />
<div class="section" id="general">
<h3>General<a class="headerlink" href="#general" title="Permalink to this headline">¶</a></h3>
<p>Here you can edit the information you added and the options you selected when creating the template:</p>
<img alt="../../../../../_images/publishing-edit-general.png" src="../../../../../_images/publishing-edit-general.png" />
<p>See above for a description.</p>
</div>
<div class="section" id="properties">
<h3>Properties<a class="headerlink" href="#properties" title="Permalink to this headline">¶</a></h3>
<p>You can add a property set to the template.</p>
<img alt="../../../../../_images/publishing-edit-properties.png" src="../../../../../_images/publishing-edit-properties.png" />
<p>The properties in the set can or will have to be filled in when a community is created from this template.</p>
<p>The property sets are set up using the Tenant settings. See this page for more information: <a class="reference internal" href="../../../../tenant-settings/properties/property-sets/index.html"><span class="doc">Property sets</span></a></p>
</div>
<div class="section" id="features">
<h3>Features<a class="headerlink" href="#features" title="Permalink to this headline">¶</a></h3>
<p>Select the features that should be available for the publishing app (all are not shown in the image):</p>
<img alt="../../../../../_images/publishing-edit-features.png" src="../../../../../_images/publishing-edit-features.png" />
</div>
<div class="section" id="setup">
<h3>Setup<a class="headerlink" href="#setup" title="Permalink to this headline">¶</a></h3>
<p>Using the options here you set Publishing App settings and can create one or more Page Collections to be set up automatically when this template is used.</p>
<img alt="../../../../../_images/publishing-edit-setup-new.png" src="../../../../../_images/publishing-edit-setup-new.png" />
<p>To edit settings, click “Publishing App Settings” and use the following settings (can be edited later by a Publishing App Administrator):</p>
<img alt="../../../../../_images/publishing-edit-setup-settings.png" src="../../../../../_images/publishing-edit-setup-settings.png" />
<ul class="simple">
<li><p><strong>Enable Reuse Content</strong>: If publishing apps created from this template should allow reuse of content, select this option.</p></li>
<li><p><strong>Contact Property</strong>: Select the default property for page contact.</p></li>
<li><p><strong>Review Date Property</strong>: Select the default property for review date.</p></li>
</ul>
<p>To create one or more Page Collections, do the following:</p>
<ol class="arabic simple">
<li><p>Click the plus for “Page Collection”.</p></li>
</ol>
<img alt="../../../../../_images/publishing-page-collection.png" src="../../../../../_images/publishing-page-collection.png" />
<ol class="arabic simple" start="2">
<li><p>Create a page collection using the following settings:</p></li>
</ol>
<img alt="../../../../../_images/publishing-page-collection-settings.png" src="../../../../../_images/publishing-page-collection-settings.png" />
<ol class="arabic simple" start="3">
<li><p>Choose to use a Navigation Structure or just Flat, meaning no navigation structure.</p></li>
</ol>
<p>One example where “Flat” is a relevant choice, is when creating a Page Collection for News.</p>
<ol class="arabic simple" start="4">
<li><p>Type a name (Title) for the new Page Collection.</p></li>
</ol>
<p>An Url is added, based on the name. It can be edited if needed.</p>
<ol class="arabic simple" start="5">
<li><p>Click “Create”.</p></li>
<li><p>Edit the settings.</p></li>
</ol>
<img alt="../../../../../_images/publishing-page-collection-settings-edit-new.png" src="../../../../../_images/publishing-page-collection-settings-edit-new.png" />
<p>(There’s a lot more settings than is shown in the image).</p>
<p>Page Collection Permissions are described on this page: <a class="reference internal" href="../../../../../pages/page-collections/page-collection-permissions/index.html"><span class="doc">Page Collection Permissions</span></a></p>
<p>You use the rest of the settings the same way as is described on this page: <a class="reference internal" href="../../../../../pages/page-collections/index.html"><span class="doc">Page Collections</span></a></p>
<p>Don’t forget to save when you’re ready (the “Save” option is located at the bottom, in the low right corner).</p>
<p>To add another Page Collection, just do it the same way.</p>
<p>When you have added one or more Page Collections, you can use the the icons to:</p>
<img alt="../../../../../_images/publishing-page-collection-settings-icons.png" src="../../../../../_images/publishing-page-collection-settings-icons.png" />
<ul class="simple">
<li><p>Sort the order in which they are shown (left-most icon).</p></li>
<li><p>Edit the settings (the cogwheel).</p></li>
<li><p>Delete a Page Collection.</p></li>
</ul>
</div>
<div class="section" id="custom-steps">
<h3>Custom steps<a class="headerlink" href="#custom-steps" title="Permalink to this headline">¶</a></h3>
<p>If any custom steps has been developed for the creation of publishing apps, you can select them using this option.</p>
<img alt="../../../../../_images/publishing-edit-custom-steps.png" src="../../../../../_images/publishing-edit-custom-steps.png" />
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        <a href="../../../search/index.html" class="btn btn-neutral float-right" title="Search" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
        <a href="../layout/index.html" class="btn btn-neutral float-left" title="Publishing Layouts" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2022, Precio Fishbone.
      <span class="lastupdated">
        Last updated on Nov 11, 2022.
      </span>

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>