

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Templates &mdash; Omnia  documentation</title>
  

  
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/custom.css?v=4" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../../../" src="../../../../../_static/documentation_options.js"></script>
        <script data-url_root="../../../../../" id="documentation_options" src="../../../../../_static/documentation_options.js"></script>
        <script src="../../../../../_static/jquery.js"></script>
        <script src="../../../../../_static/underscore.js"></script>
        <script src="../../../../../_static/doctools.js"></script>
        <script src="../../../../../_static/helpfulness.js?v=4"></script>
        <script src="../../../../../_static/disqus.js"></script>
    
    <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../../../index.html" class="icon icon-home"> Omnia
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../index.html">Admin Settings</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../blocks/index.html">Blocks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../general-assets/index.html">General assets</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../pages/index.html">Pages</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-documents/index.html">Working with Documents</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-processes/index.html">Working with Processes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-events/index.html">Working with Events</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-communities/index.html">Using Communities</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-newsletters/index.html">Using Newsletters</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-omnia-feed/index.html">Using Omnia Feed</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../user-options/index.html">User options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../setup/index.html">Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../cookies-consent-information/index.html">Cookies Consent information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../release-notes/index.html">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../roadmap/index.html">In Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../guides/index.html">Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../contribute-to-doc/index.html">Contribute to this Documentation</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../index.html">Omnia</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>Templates</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../../../_sources/admin-settings/business-group-settings/communities/communities-65/templates/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="templates">
<h1>Templates<a class="headerlink" href="#templates" title="Permalink to this headline">¶</a></h1>
<p>This is an ongoing, preliminary documentation för functionality to come in Omnia 6.5.</p>
<p>In Omnia 6.5 the option Provisioning templates will be removed. Instead, templates will be administrated under each main option, so here  you can work with templates for Communities.</p>
<img alt="../../../../../_images/communties-templates-new.png" src="../../../../../_images/communties-templates-new.png" />
<p>To edit a template, click the name - to delete, click the dust bin.</p>
<div class="section" id="creating-a-new-community-template">
<h2>Creating a new Community template<a class="headerlink" href="#creating-a-new-community-template" title="Permalink to this headline">¶</a></h2>
<p>To create a new template, do the following:</p>
<ol class="arabic simple">
<li><p>Click the plus.</p></li>
</ol>
<img alt="../../../../../_images/community-template-click-plus.png" src="../../../../../_images/community-template-click-plus.png" />
<p>Use the following settings:</p>
<img alt="../../../../../_images/community-template-settings.png" src="../../../../../_images/community-template-settings.png" />
<ul class="simple">
<li><p><strong>Title</strong>: Add a Title for the Template. You can add titles in a number of the languages available in the tenant. Default language is mandatory.</p></li>
<li><p><strong>Description</strong>: Add a Description if needed.</p></li>
<li><p><strong>Icon Type</strong>: An icon is always shown for a template. If you would like another icon for this template, select the set of icons here: Font Awesome, Microsoft, Flags or Custom. When selecting Custom you can choose any image as the icon.</p></li>
<li><p><strong>Icon</strong>: When you have select Icon Type, use this list to select the icon. If you select Custom, a Url field is shown, where you enter the Url for the image.</p></li>
<li><p><strong>Available to All Users</strong>: Select this option if the template should be available for other’s than administrators, for example in the user Wizard for creating new teamworks. If this option is NOT selected, the template will be available only for administrators to use in Omnia Admin.</p></li>
<li><p><strong>Property Set</strong>: You can select a property set here, to be used for the template, meaning a number of properties that the colleague creating the site will or will have to fill in when the template is used.</p></li>
<li><p><strong>Site Creation Mode</strong>: Here you select if approval is required when users create sites from this template.</p></li>
</ul>
</div>
<div class="section" id="settings-for-the-template">
<h2>Settings for the template<a class="headerlink" href="#settings-for-the-template" title="Permalink to this headline">¶</a></h2>
<p>There are a lot of settings you can do for the template when it’s created.</p>
<ol class="arabic simple">
<li><p>Click the template to edit.</p></li>
</ol>
<p>The following is shown:</p>
<img alt="../../../../../_images/community-edit-all.png" src="../../../../../_images/community-edit-all.png" />
<div class="section" id="general">
<h3>General<a class="headerlink" href="#general" title="Permalink to this headline">¶</a></h3>
<p>Here you can edit the information you added and the options you selected when creating the template:</p>
<img alt="../../../../../_images/community-edit-general.png" src="../../../../../_images/community-edit-general.png" />
<p>See above for a description.</p>
</div>
<div class="section" id="properties">
<h3>Properties<a class="headerlink" href="#properties" title="Permalink to this headline">¶</a></h3>
<p>You can add a property set to the template.</p>
<img alt="../../../../../_images/community-edit-properties.png" src="../../../../../_images/community-edit-properties.png" />
<p>The properties in the set can or will have to be filled in when a community is created from this template.</p>
<p>The property sets are set up using the Tenant settings. See this page for more information: <a class="reference internal" href="../../../../tenant-settings/properties/property-sets/index.html"><span class="doc">Property sets</span></a></p>
</div>
<div class="section" id="features">
<h3>Features<a class="headerlink" href="#features" title="Permalink to this headline">¶</a></h3>
<p>Select the features that should be available for the community (all are not shown in the image):</p>
<img alt="../../../../../_images/community-edit-features.png" src="../../../../../_images/community-edit-features.png" />
</div>
<div class="section" id="setup">
<h3>Setup<a class="headerlink" href="#setup" title="Permalink to this headline">¶</a></h3>
<p>Using the options here you can set which parts of a community that should be created when this template is used:</p>
<img alt="../../../../../_images/community-edit-setup.png" src="../../../../../_images/community-edit-setup.png" />
<p>(More information about this will be added soon).</p>
</div>
<div class="section" id="custom-steps">
<h3>Custom steps<a class="headerlink" href="#custom-steps" title="Permalink to this headline">¶</a></h3>
<p>If any custom steps has been developed for the creation of communities, you can select them using this option.</p>
<img alt="../../../../../_images/community-edit-custom-steps.png" src="../../../../../_images/community-edit-custom-steps.png" />
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, Precio Fishbone.
      <span class="lastupdated">
        Last updated on Aug 27, 2021.
      </span>

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>