

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Layout &mdash; Omnia  documentation</title>
  

  
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/custom.css?v=4" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../../../" src="../../../../../_static/documentation_options.js"></script>
        <script data-url_root="../../../../../" id="documentation_options" src="../../../../../_static/documentation_options.js"></script>
        <script src="../../../../../_static/jquery.js"></script>
        <script src="../../../../../_static/underscore.js"></script>
        <script src="../../../../../_static/doctools.js"></script>
        <script src="../../../../../_static/helpfulness.js?v=4"></script>
        <script src="../../../../../_static/disqus.js"></script>
    
    <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../../../index.html" class="icon icon-home"> Omnia
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../index.html">Admin Settings</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../blocks/index.html">Blocks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../general-assets/index.html">General assets</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../pages/index.html">Pages</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-documents/index.html">Working with Documents</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-processes/index.html">Working with Processes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../working-with-events/index.html">Working with Events</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-communities/index.html">Using Communities</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-newsletters/index.html">Using Newsletters</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../using-omnia-feed/index.html">Using Omnia Feed</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../user-options/index.html">User options</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../setup/index.html">Setup</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../cookies-consent-information/index.html">Cookies Consent information</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../release-notes/index.html">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../roadmap/index.html">In Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../guides/index.html">Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../contribute-to-doc/index.html">Contribute to this Documentation</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../index.html">Omnia</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>Layout</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../../../_sources/admin-settings/business-group-settings/communities/communities-65/layout/index.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="layout">
<h1>Layout<a class="headerlink" href="#layout" title="Permalink to this headline">¶</a></h1>
<p>This is an ongoing, preliminary documentation for functionality to come in Omnia 6.5.</p>
<p>Here you can work with ready made layouts for Community start pages, that can be chosen when a Page Collection for a Community is created.</p>
<img alt="../../../../../_images/communities-layout.png" src="../../../../../_images/communities-layout.png" />
<p>To create a new layout, do the following:</p>
<ol class="arabic simple">
<li><p>Click the plus.</p></li>
</ol>
<img alt="../../../../../_images/layout-click-plus.png" src="../../../../../_images/layout-click-plus.png" />
<ol class="arabic simple" start="2">
<li><p>Add a name for the layout in any or all the available tenant languages (click the flag to change language).</p></li>
<li><p>Click Create.</p></li>
</ol>
<img alt="../../../../../_images/layout-click-create.png" src="../../../../../_images/layout-click-create.png" />
<p>To start working on the layout, continue this way:</p>
<ol class="arabic simple" start="4">
<li><p>Click on the name.</p></li>
</ol>
<img alt="../../../../../_images/layout-click-name.png" src="../../../../../_images/layout-click-name.png" />
<ol class="arabic simple" start="5">
<li><p>Use this work area to create the layout.</p></li>
</ol>
<img alt="../../../../../_images/layout-click-work-area.png" src="../../../../../_images/layout-click-work-area.png" />
<p>You work with the layout in a similar way to Page Types. You can use all sections and blocks available.</p>
<p>Also note the previews for the different screen sizes:</p>
<img alt="../../../../../_images/layout-click-work-area-screen.png" src="../../../../../_images/layout-click-work-area-screen.png" />
</div>


           </div>
           
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, Precio Fishbone.
      <span class="lastupdated">
        Last updated on Aug 27, 2021.
      </span>

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>